{{> head }}


      {{> navbar }}
   
     <div class="row">
         <div class="col-8">
             <h1>Desarrollo Web Avanzado</h1>
             <p></p>
         </div>
     </div>



     <div class="col-4">
         <img src="assets/img/web.png " class="img-thumbnail"
     </div>


{{> footer }}